An Indepth analysis of each concept with an Example of each to be kept in DSA folder assisted with explaniation.  

## Array Data Structure
    # Array Functions

## String in Data Structure

## Linked List Data Structure

## Stack Data Structure

## Queue Data Structure

## Tree Data Structure

## Heap Data Structure

## Hashing in Data Structure

## Graph Algorithms

## Set Data Structure

## Map Data Structure

## Sorting
    # Comparision Based:
        Bubble Sort
        Insertion Sort
        Merge Sort
        Selection Sort
        Quick Sort

    # Non-Comparision Based:
        Counting Sort
        Radix Sort
        Bucket Sort
        Tim Sort
        Comb Sort

    # Hybrid Sorting Algorithms: These are a combination of 2 or more sorts for better efficiency.

## Searching

## Recursion Algorithms

## Backtracking Algorithms

## Greedy Algorithms

## Dynamic Programming

## Pattern Searching

## Divide and Conquer

## Mathematical Algorithms

## Geometric Algorithms

## Bitwise Algorithms

## Randomised Algorithms

## Branch and Bound

Leetcode  - 2
Codechef  - 10
Codeforces- 2
spoj      - 2

6000-
    spoj-250
    cc-1000
    Hr-1000-DS
    lc-250
    ib-250
    cf-250
    si-3000
